@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #f2f2f2;
}

#navbar {
  background-color: #f2f2f2;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

/* .logo-container{
  padding-top: 150px;
}

.logo{
  width: 400px;
  animation: logo-effect 4s ease;
} */

.span-messages {
  margin-top: 10rem;
  position: relative;
}

.alert-home {
  box-shadow: 1px 2px 4px 1px rgb(193, 193, 193);
  width: max-content;
  max-width: 500px;
  padding: 15px 20px;
  position: fixed;
  top: 7rem;
  left: 65rem;
  background-color: #f1c9c9;
  z-index: 1;
}

.success-home {
  box-shadow: 1px 2px 4px 1px rgb(193, 193, 193);
  width: max-content;
  max-width: 100%;
  padding: 15px 20px;
  position: fixed;
  top: 74px;
  left: 70px;
  background-color: #f2f4f0;
  z-index: 1;
}

.content-span-home {
  font-size: large;
}

@media (max-width: 768px) {
  .alert-home {
    max-width: 500px;
    top: 67px;
    left: 10px;
  }
  .content-span-home {
    font-size: medium;
  }
}

/* @keyframes logo-effect {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

.post-main-container {
  padding-top: 50px;
  margin-bottom: 110px;
}

.mainPostTitleEffect {
  display: inline-flex;
  position: relative;
}

.mainPostTitleEffect::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  width: 0;
  height: 50%;
  z-index: -1;
  background-color: rgb(246, 246, 54);
  animation: effect-main-post-title 2s forwards;
}

@keyframes effect-main-post-title {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.otherPostTitleEffect {
  position: relative;
  display: inline-flex;
}

.otherPostTitleEffect::after {
  content: "";
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  top: 15px;
  width: 0;
  z-index: -1;
  background-color: rgb(239, 144, 80);
  animation: effect-other-title 2s forwards;
}

@keyframes effect-other-title {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.subtititle-othersPosts {
  font-size: larger;
}

.card {
  max-width: max-content;
}

.card a {
  text-decoration: none;
  color: black;
}

.card a:hover {
  text-decoration: underline;
}

.card-others-posts {
  min-width: fit-content;
}

.card-others-posts:hover {
  transition: 0.4s;
  transform: scale(1.1);
}

.header-index-posts {
  padding-top: 120px;
}

.index-posts-title {
  position: relative;
  display: inline-flex;
}

.index-posts-title::after {
  content: "";
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  top: 2rem;
  width: 0;
  z-index: -1;
  background-color: rgba(157, 246, 89, 0.626);
  animation: effect-index-title 2s forwards;
}

@keyframes effect-index-title {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.img_404 {
  width: 350px;
}

.link-error-page {
  text-decoration: none;
  padding: 5px 8px;
  color: rgb(239, 144, 80);
  border: 2px solid rgb(239, 144, 80);
  border-radius: 5px;
  position: relative;
}

.link-error-page::after {
  content: "";
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgb(239, 144, 80);
  transition: width 0.5s ease;
}

.link-error-page:hover::after {
  width: 100%;
  left: 0;
}

.link-error-page:hover {
  color: white;
}

.link-error-page:not(:hover)::after {
  right: 0;
  left: auto;
  width: 0;
}

footer {
  margin-top: 400px;
}
